/*** Résolition pour Iphone8 ***/
@media screen and (min-width: 320px)and (max-width:600px) {
  body, main{
    margin: 0;
  }
    .header{
      display: flex;
      flex-wrap: wrap;
      width: 100%;
      margin: 0px; 
    }
    .navbar{
      flex-direction: row;
      flex-wrap: wrap;
      width: 100%;
    }
    .logo{
    order: 1;  
    margin-left: 20px;
    }
    .logo img{
        border-radius: 0px;
    }
    .signin {
        order: 2;
        margin-right: 20px;
    }
    .header-nav{
   display: flex;
    width: 100%;
    margin: 0px;
    order: 3;
    
}
 .header-nav a {
    display: flex;
    justify-content: center;
    width: 50%;
    border-bottom: 2px solid #F2F2F2;
    padding: 30px 0px;
}
.header-nav a:hover{
    border-top: none;
    border-bottom: 2px solid #0065FC;   
}
.logo .signin{
    display: flex;
    flex-direction: row;
}
.title{
   margin: 0px 20px;
}
.subtitle{
margin: 10px 20px;
}
/*** mise en place icone rechercher et ajustement barre de recherche***/
.search{
    margin: 10px 20px;
}
.button{
    display: none;
}
.button_icon{
    border-radius: 1rem 1rem 1rem 1rem;
    background-color: #0065FC;
    color: white;
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: -15px;
}
.searchbar{
    width: 70%;

}

/*** filtres ***/
.filtres{
    display: flex;
    flex-wrap: wrap;
    margin: 10px 20px;
}
.categories{
display: flex;
flex-wrap: wrap;
}
.name{
    margin: 10px 0px;
}
.border-filter{
    margin-right: 0px;
}
 .info{
     margin: 0px 20px;
 }
/**** mise en place des plus populaires ***/
section{
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 0;
    padding: 0;
}
.container .container-2{
    display: flex;
    flex-wrap: wrap;
    margin: 0px 10px;
    padding: 0px 10px;
}
.hebergements{
    width: 100%;
    background-color: white;
    border-radius: 0;
    margin: 0;
    padding: 0;
    height: auto;
}
.location{
    width: 100%;
}
.populaires{
    order: -2;
   width: 100%;
   background-color: #F2F2F2;
   border-radius: 0;
  margin: 0;
  padding: 0;
}
.plus{
    margin: 0px 5px;
}
/*** Activités à Marseille ***/

.bloc-activites{
 
    margin: 0;
    display: flex;
    width: 100%;
    flex-wrap: wrap;
}
.annonces-activites{
flex-wrap: wrap;
    width: 100%;
}
.titre-activites{
    padding-left: 30px;
}
.titre-activites h2{
    margin: 0px;
}
.grandformat{
    width: 100%;
    margin: 30px;
   height: 37%;
}
.grandformat img{
   height: 80%;
}
.container-activites{
    width: 100%; 
    margin: 30px; 
}
footer{
    
}
.footer{
display: flex;
flex-direction: column;
}
.footer-gauche, .footer-centre, .footer-droite{
    width: 100%;
    padding: 0px 30px;
}

}