/* Style CSS*/
@font-face {
font-family: Raleway;
src:      url("font/Raleway/static/Raleway-Regular.ttf"),
        url("font/Raleway/static/Raleway-Bold.ttf"),
        url("font/Raleway/Raleway-VariableFont_wght.ttf"),
        url("font/Raleway/static/Raleway-Black.ttf");
}
body {
    font-family: "Raleway",Arial, Helvetica, sans-serif;
    font-size: 12px;
    color: black;
    margin: 0;
}
*{
    box-sizing: border-box;
}
.header{
  padding: 2px;
  padding-left: 20px;
  padding-right: 20px;
}
#logo{ 
    height: auto;
    margin: 0;
    margin-right: auto; 
}
.navbar{
  display: flex;  
}
.header-nav {
 /*marges menu*/
    margin: 40px 0; 
    margin-right: 30px;  
}
.header-nav a{
    /*ecart menu*/
    padding: 0px 30px;
   
   
}
 a{
     /*propriètes de "a"*/
    text-decoration: none;
    color: black;
   
}
a:hover{
    /*effet de survol sur le menu*/
    border-top: 2px solid #0065FC;
    color: #0065FC ;
    padding-top: 30px;
}
.disabled {
    /*propriètés de "s'incrire"-désactivation du lien*/
    pointer-events: none;
    cursor: default;
    font-weight: bold;
}
.title{
    /*propriètes du titre*/
    font-size: 0,5em;
    font-weight: bold;
    margin-bottom: 0px;
}
.subtitle{
    /*propriètes du sous-titre*/
    padding-top: 5px;
    margin-top: 0px;
}
/*propriètes de la barre de recherche*/
.search{
   margin-right: auto;
   margin-bottom: 10px;
    display: flex;
    text-align: center;
    padding: 6px;
  
    font-family: "Raleway";
}

.searchbar{
    height: 35px;
    border:solid 1px #F2F2F2;
    font-weight: bold;

}
::placeholder{
    font-family: "Raleway";
}
/*propriètés des filtres*/
table{
    display: flex;
}
caption{
    color: black;
    font-weight: bold;
    display: flex;
    align-items: center;
    font-size: 0.8em;
}

.fa-map-marker-alt{
    /*propriètés de l'icone localisation*/
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 4px;
    border-radius: 1rem 0rem 0rem 1rem;   
     background: #F2F2F2;
    width: 35px;
    height: 35px;
    border:solid 0 #F2F2F2;
}

.button{
    /*propriètés du bouton Rechercher*/
    color: white;
    font-family: "Raleway";
    background-color: #0065FC;
    border:solid 2px #0065FC;
    font-weight: bold;
    padding: 2px;
    border-radius: 0rem 1rem 1rem 0rem;
    padding: 0rem 1rem 0rem 1rem;
    
}
.ecart{
    border-spacing: 10px;
}

  

#filtercategory{
    justify-content: center;
    padding: 5px;
    border:solid 2px #DEEBFF;
    color: #0065FC;
    background: #DEEBFF;
-moz-border-radius-topleft: 50px;
-moz-border-radius-topright:50px;
-moz-border-radius-bottomleft:50px;
-moz-border-radius-bottomright:50px;
-webkit-border-top-left-radius:50px;
-webkit-border-top-right-radius:50px;
-webkit-border-bottom-left-radius:50px;
-webkit-border-bottom-right-radius:50px;
border-top-left-radius:50px;
border-top-right-radius:50px;
border-bottom-left-radius:50px;
border-bottom-right-radius:50px;
}
.border-filter{
    padding: 0;
    border:solid 2px #F2F2F2;
    font-weight: bold;
-moz-border-radius-topleft: 50px;
-moz-border-radius-topright:50px;
-moz-border-radius-bottomleft:50px;
-moz-border-radius-bottomright:50px;
-webkit-border-top-left-radius:50px;
-webkit-border-top-right-radius:50px;
-webkit-border-bottom-left-radius:50px;
-webkit-border-bottom-right-radius:50px;
border-top-left-radius:50px;
border-top-right-radius:50px;
border-bottom-left-radius:50px;
border-bottom-right-radius:50px;
}
.info{
    display: flex;
    align-items: center;
}
.info i{
    color: #0065FC;
    padding-right: 3px;
    margin-right: 3px;
}
