/* Style CSS*/
@font-face {
font-family: Raleway;
src:      url("font/Raleway/static/Raleway-Regular.ttf"),
        url("font/Raleway/static/Raleway-Bold.ttf"),
        url("font/Raleway/Raleway-VariableFont_wght.ttf"),
        url("font/Raleway/static/Raleway-Black.ttf");
}


.nav { 
    font-size: 16px;
    font-family:Raleway, Arial, sans-serif;
    color: black;

    

}
a:hover{
    /* ce lien deviendra bleu lorsque celui-ci sera survolé*/
    color: #0065FC;
    border-top-color: #0065FC;
}
