/* Style CSS*/
@font-face {
font-family: Raleway;
src:      url("font/Raleway/static/Raleway-Regular.ttf"),
        url("font/Raleway/static/Raleway-Bold.ttf"),
        url("font/Raleway/Raleway-VariableFont_wght.ttf"),
        url("font/Raleway/static/Raleway-Black.ttf");
}
body{
/* propriètés commune a toutes la page*/
    font-family:Raleway-Regular,Arial,sans-serif;
    font-style: normal;
    font-size: 1rem;
    color: black;
}
header{
  display: flex;
 

}
#logo{
   
    margin-right: auto;
    width: 150px    ;
}

nav ul {
   list-style: none;
   display: flex; 
   
}
a{
    text-decoration: none; 
   color: black;
}
a:hover{
    color: #0065FC;
    border-top: 2px solid;
   
    padding: 20px;
    
    
    
}
.hebergement{
display: flex;
width: 150px;


}
.activité{
    display: flex;
    width: 150px;
 

}
.inscription{
    display: flex;
    width:150px;
   
}